/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2021, 5:55:16 PM
    Author     : Admin
*/

.login{
    position: absolute;
    top: -90px;
    height: 100%;
    width: 95%;
    left: 30px;
    right: 0;
    z-index: 100;
    margin: 0 auto;
}


.login > h2{
    font-family: serif;
}

.form-group{
    width: 70%;
    margin-left: 70px;
}

.form-group > label{
    font-size: 1rem;
}