/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2021, 5:24:22 PM
    Author     : Admin
*/

body{
    font-size: 13px;
}

.h-80{
    min-height: 50vh !important;
}


.header,
.footer{
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.header{
    background-image: url('../file/front-2columns.jpg');
    height: 300px;  

}

#my-notify{
    position: absolute;
    top: 0;
    width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 150px;
    border: 2px solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    display: flex;

    transform-origin: top;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    animation: dropdown .3s;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: -226%;
    left: 0;
    right: 0;
    z-index: 110;
}
@keyframes dropdown{
    from{
        transform: scaleY(0%);
    }
    to{
        transform: scaleY(100%);
    }
}

.msg-fail{
    background-color: #ffdede;
    border-color: #a33535;
    color: #c22929;
}

.msg-success{
    background-color: #d2f2d3;
    border-color: #227725;
    color: #53bd56;
}
.footer{
    background-image: url('../file/footerbg-2columns.jpg');
    height: 200px;
}

.left{
    font-size: 1rem
}

.bg-lightgray{
    background-color: #E8E8E8 !important;
}

.my-container{
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
}

.main-content{
    position: absolute;
    top: -100px;
    min-height: 100%;
    width: 95%;
    left: 30px;
    right: 0;
    z-index: 100;
    margin: 0 auto;
}

.main-content > h3{
    font-family: serif;
}

.text-darkprimary{
    color: #0085C8;
}

.main-content  th,
.main-content  td{
    font-size: 1.1rem;
}

.outline-0{
    outline: 0 !important;
}

.shadow-0{
    box-shadow: none !important;
}

tbody tr{
    transition: all .2s ease-in-out;
    cursor: pointer;
}
tbody tr:hover{
    background-color: #eaeaea;
}

.shadow-inset-top{
    box-shadow: inset 0 3px 4px lightgray !important;
}

input[type="radio"] {
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    transform: scale(1.4);
}

.text-primary-dark{
    color: #00539C !important;
}

.cursor-context-menu{
    cursor: context-menu !important;
}


.table-scroll{
    display: block;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid lightgray;
}

.table-scroll thead{
    background-color: #f9f9f9;  
    box-shadow: inset 0 -5px 15px lightgray;
    position:relative;
    display: block;
    width:100%;
    overflow-y: hidden;
    padding-right: 6px;
}

.table-scroll tbody{
    display: block; position:relative;
    width:100%;
    overflow-x: hidden;
    overflow-y:scroll;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.table-scroll tr{
    width: 100%;
    display:flex;
}

.table-scroll td,
.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align:left;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.table-scroll tbody td{
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-word;
    overflow: hidden;
}

tbody::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

tbody::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
}
tbody::-webkit-scrollbar-thumb{ 
    background-color: #a2a2a2;
}

.overflow-hidden{
    overflow-x: hidden;
}
